@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FF3334;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FF3334;
    --foreground: #ededed;
  }
}

@keyframes float-animation {
  0% {
    transform: translateY(0);
    position: relative;
  }
  50% {
    transform: translateY(-10px);
    position: relative;
  }
  100% {
    transform: translateY(0);
    position: relative;
  }
}

.float-animation {
  animation: float-animation 3s ease-in-out infinite;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
